:host([theme~='icon']) {
  box-sizing: border-box;
  justify-content: center;
  margin-inline: calc(var(--lumo-space-xs) / 2) !important;
  min-width: var(--lumo-size-m);
  padding-inline: 0 !important;
  width: var(--lumo-size-m);
}

:host(:not([slot='overflow'])[aria-haspopup]) {
  box-sizing: border-box;
  height: var(--lumo-button-size);
  justify-content: center;
  margin-inline: calc(var(--lumo-space-xs) / 2) !important;
  min-width: calc(var(--lumo-button-size) + 0.35rem);
  padding-inline: 0 !important;
  width: calc(var(--lumo-button-size) + 0.35rem);
}

.vaadin-button-container,
[part='label'] {
  justify-content: center;
  width: 100%;
}

[part='label'] ::slotted(vaadin-menu-bar-item) {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

[part='suffix'] {
  display: none !important;
}

[part='suffix']::after {
  content: none !important;
}
